<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Repo.csdl|res://*/Repo.ssdl|res://*/Repo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=174.143.132.215,4120;Initial Catalog=695207_smgclient;Persist Security Info=True;User ID=695207_tecknonerd;Password=smgPassword1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>